$color-primary: rgb(255, 0, 0);
$color-secondary: green;
$color-black: black;
$color-white: white;
$color-dark: rgb(44, 44, 44);
$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 15px;
$spacing-lg: 20px;
$spacing-xl: 30px;