@use 'scss/responsive';

$color-primary: #1200ff;
$color-secondary: #ff00e9;
$color-background: #f2f2f2;
$color-white: white;
$color-black: black;
$color-background-select: #dcdcdc;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: $color-background;
  margin: 0;
}

img {
  width: 100%;
}

.container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.button {
  padding: 13px 30px 11px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;

  &.button-primary {
    border-color: $color-primary;

    &.button-outline {
      color: $color-primary;
      background-color: transparent;
    }

    &.button-fill {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  &.button-secondary {
    border-color: $color-secondary;

    &.button-outline {
      color: $color-secondary;
      background-color: transparent;
    }
  
    &.button-fill {
      background-color: $color-secondary;
      color: $color-white;
    }
  }

  &.button-danger {
    border-color: red;

    &.button-outline {
      color: red;
      background-color: transparent;
    }

    &.button-fill {
      background-color: red;
      color: $color-white;
    }
  }

  &.button-round {
    border-radius: 50px;
  }

  &.button-large {
    font-size: 30px;
    padding: 18px 35px 16px;
  }
}

.form-control {
  display: flex;
  flex-direction: column;
  row-gap: 5px;

  label {
    font-size: 18px;
    font-weight: bold;
  }

  select {
    background-color: $color-background-select;
    border-color: $color-background-select;
    padding: 13px 20px 11px;
    border-radius: 50px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
  }
}

fieldset {
  border: none;
  padding: 0;
  margin-left: 0;

  legend {
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    margin-bottom: 5px;
  }

  .form-control {
    flex-direction: row;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }    

    label {
      font-weight: normal;
    }
  }
}

.page-content {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include responsive.xl {
    flex-direction: row;
  }
}

.filter-wrapper {
  @include responsive.xl {
    width: 40%;
  }

  @include responsive.xxl {
    width: 30%;
  }

  .filter-form {
    background-color: $color-white;
    padding: 45px 40px 40px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    .filter-result {
      font-size: 25px;
      font-weight: bold;
    }
  }
}

.programs-wrapper {
  display: grid;
  gap: 30px;

  @include responsive.lg {
    grid-template-columns: 1fr 1fr;
  }

  @include responsive.xl {
    width: 60%;
    grid-template-columns: 1fr;
  }

  @include responsive.xxl {
    width: 70%;
    grid-template-columns: 1fr 1fr;
  }

  .program-item {
    background-color: $color-white;
    padding: 40px 40px 25px;
    position: relative;

    a {
      color: $color-black;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    .program-item-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 20px;

      .program-item-image {
        height: 97px;
        width: auto;
      }

      .program-item-title {
        margin-top: 0;
        margin-bottom: 0;
      }

      .program-item-description {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .program-item-features {
      .program-item-features-list {
        list-style-type: none;
        padding-left: 0;
        font-weight: bold;
        display: flex;
        flex-wrap: wrap;
        gap: 7px 25px;

        .program-item-feature {

        }
      }
    }

    .program-item-extras {
      background-color: $color-secondary;
      color: $color-white;
      padding: 10px 18px;
      border-radius: 50px;
      text-transform: uppercase;
      font-size: 12px;
      position: absolute;
      top: 20px;
      right: -15px;
      text-align: center;
      max-width: 50%;
    }
  }
}
