*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  margin: 0;
}

img, iframe {
  width: 100%;
}

.container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-title {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

.large-button {
  background-color: white;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
}

.page-title {
  margin-top: 0;
  margin-bottom: 0;
}

.page-content {
  display: grid;
  row-gap: 60px;
}
@media screen and (min-width: 800px) {
  .page-content {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media screen and (min-width: 900px) {
  .page-content {
    grid-template-columns: 2fr 1fr;
  }
}

.main-content {
  display: grid;
  row-gap: 30px;
}

.news-section {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  row-gap: 30px;
}
.news-section .news-item a {
  color: black;
  text-decoration: none;
}
.news-section .news-item .news-category {
  text-transform: uppercase;
  color: #1200ff;
  letter-spacing: 1.2px;
}
.news-section .primary-news-list {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  gap: 30px;
}
@media screen and (min-width: 600px) {
  .news-section .primary-news-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 800px) {
  .news-section .primary-news-list {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 900px) {
  .news-section .primary-news-list {
    grid-template-columns: 1fr 1fr;
  }
}
.news-section .primary-news-list .news-item {
  background-color: white;
}
.news-section .primary-news-list .news-item .news-content-wrapper {
  padding: 38px;
}
.news-section .secondary-news-list {
  display: grid;
  gap: 30px;
}
@media screen and (min-width: 700px) {
  .news-section .secondary-news-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 800px) {
  .news-section .secondary-news-list {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 900px) {
  .news-section .secondary-news-list {
    grid-template-columns: 1fr 1fr;
  }
}
.news-section .secondary-news-list .news-item a {
  display: flex;
}
.news-section .secondary-news-list .news-item .news-image {
  width: 120px;
  height: 80px;
}
.news-section .secondary-news-list .news-item .news-content-wrapper {
  padding-left: 20px;
}
.news-section .secondary-news-list .news-item .news-content-wrapper .news-title {
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.video-section {
  display: grid;
  row-gap: 30px;
}
.video-section .video-wrapper {
  display: flex;
  flex-direction: column-reverse;
}
.video-section .video-wrapper .video-title {
  margin-top: 0;
  margin-bottom: 0;
}
.video-section .secondary-video-wrapper {
  display: grid;
  gap: 30px;
}
@media screen and (min-width: 700px) {
  .video-section .secondary-video-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 800px) {
  .video-section .secondary-video-wrapper {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 900px) {
  .video-section .secondary-video-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

.podcasts-section {
  display: grid;
  row-gap: 30px;
}
.podcasts-section .podcasts-list {
  display: grid;
  row-gap: 30px;
}
.podcasts-section .podcasts-list .podcast-item {
  background-color: black;
  display: grid;
  grid-template-columns: 70px 1fr 70px;
  grid-template-rows: 70px auto;
  grid-template-areas: "image   length  play" "content content content";
}
.podcasts-section .podcasts-list .podcast-item .podcast-image {
  /* grid-row: 1;
  grid-column: 1; */
  grid-area: image;
}
.podcasts-section .podcasts-list .podcast-item .podcast-length {
  color: white;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  display: grid;
  place-items: center;
  /* grid-column: 2;
  grid-row: 1; */
  grid-area: length;
}
.podcasts-section .podcasts-list .podcast-item .podcast-play {
  background-color: white;
  border: 2px solid black;
  /* grid-column: 3;
  grid-row: 1; */
  grid-area: play;
}
.podcasts-section .podcasts-list .podcast-item .podcast-content {
  background-color: white;
  padding: 17px 20px;
  /* grid-column-start: 1;
  grid-column-end: -1; */
  /* grid-column: 1 / -1;
  grid-row: 2; */
  grid-area: content;
}
.podcasts-section .podcasts-list .podcast-item .podcast-content .podcast-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.events-section {
  display: grid;
  row-gap: 30px;
}
.events-section .events-list {
  display: grid;
  row-gap: 70px;
}
.events-section .events-list .event-item {
  background-color: black;
}
.events-section .events-list .event-item a {
  text-decoration: none;
  color: white;
}
.events-section .events-list .event-item .event-content-wrapper {
  padding: 60px 20px 20px;
  position: relative;
}
.events-section .events-list .event-item .event-content-wrapper .event-date {
  text-align: center;
  width: 70px;
  border-radius: 15px;
  overflow: hidden;
  position: absolute;
  top: -40px;
}
.events-section .events-list .event-item .event-content-wrapper .event-date .event-day {
  background-color: white;
  color: black;
  padding: 8px;
  font-size: 30px;
}
.events-section .events-list .event-item .event-content-wrapper .event-date .event-month {
  background-color: #ff00e9;
  padding: 5px;
  text-transform: uppercase;
  font-size: 13px;
}
.events-section .events-list .event-item .event-content-wrapper .event-content .event-title {
  margin-bottom: 0;
  margin-top: 10px;
}/*# sourceMappingURL=news.css.map */